#logo {
    height: 50px;
    width: 50px;
}

.navbar-brand {
    height: 75px;
}

#h1 {
    position: center;
    margin-top: 50px;
    font-size: 35px;
    background-color: #fbb117;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 1%;
    box-shadow: 5px 5px, 5px, brown;
    border-color: #fbb117;
}

#row1 {
    margin-left: 20px;
}

p {
    font-size: 20px;
}

#row2 {
    float: right;
    margin-right: 40px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

h5 {
    font-size: 15px;
}

h4 {
    font-size: 20px;
    position: center;
}

h3 {
    height: 190px;
    width: 290px;
}

sub{
    height: 250px;
    width: 170px;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: #7e2e1f;
    line-height: 3;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

#name_button, #acc_button {
    background-color: crimson;
    border: crimson;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    float: left;
}